{% extends 'base.html' %}

{% block title %}Task Master{% endblock %}

{% block head %}Task Master{% endblock %}

{% block body %}
    {% if tasks|length < 1 %}
        <p>You have no ongoing tasks. Create one below!</p>
    {% endif %}

    <table class="w3-table-all w3-centered" {% if tasks|length > 0 %}style="margin-top:20px"{% endif %}>
        <tr>
            <th>Task</th>
            <th>Date Added</th>
            <th>Mark Complete</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td><a href="{{ url_for('mark_complete', id=task.id) }}">Complete</td>
                <td>
                    <a href="{{ url_for('update', id=task.id) }}">Update</a>
                    <br>
                    <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        
        <tr>
            <form id="addtask" action="/" method="POST">
                <td>
                    <input type="text" name="content" id="content">
                </td>
                <td></td>
                <td></td>
                <td>
                    <!--Taken from https://stackoverflow.com/questions/10039968/submit-form-using-a-tag-->
                    <a href="javascript:void()" onclick="document.getElementById('addtask').submit();">Add task</a>
                </td>
            </form>
        </tr>
    </table>
{% endblock %}